node_modules/
dist/
.env
.env.local
.env.*.local
*.log
.DS_Store

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
